@font-face {
    font-family: 'Yandex Sans';
    src: local('Yandex Sans Text Medium'), local('Yandex-Sans-Text-Medium'),
        url('YandexSansText-Medium.woff2') format('woff2'),
        url('YandexSansText-Medium.woff') format('woff'),
        url('YandexSansText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }